body {
  margin: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 100vh;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside section"
    "aside main"
    "footer footer";
  grid-template-columns: 15% auto;
  grid-template-rows: 10% 10% auto 11%;
}

header {
  grid-area: header;
  background-color: #040536;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}

.img-header {
  width: 3rem;
  height: 3rem;
  animation: rotarlogo 5s linear infinite;
}

@keyframes rotarlogo {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

aside {
  grid-area: aside;
  border-right: 3px solid #040536;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  font-size: 1.5rem;
  gap: 2rem;
  padding-top: 1rem;
}

.categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icono-movil {
  display: none;
}

.paginas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginas a {
  text-decoration: none;
  color: inherit;
  cursor: default;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.paginas a:hover {
  color: violet;
}

section {
  grid-area: section;
}

.meteorito {
  overflow: hidden;
}

.img-meteorito {
  width: 10rem;
  position: relative;
  animation: desplazar 10s linear infinite;
}

@keyframes desplazar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(700%);
  }
}

main {
  grid-area: main;
  margin-left: 1rem;
}

main h2 {
  font-size: 1.6rem;
}
.galaxias-img {
  width: 20rem;
  height: 20rem;
}
.superscript {
  vertical-align: super;
  font-size: smaller;
}

.cards {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));*/
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.flip-card {
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #005f5c;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flip-card-back h3 {
  font-size: 2rem;
}

.flip-card-back ul {
  list-style-type: disc;
  margin-left: 20px;
  text-align: start;
}

.flip-card-back ul li {
  padding-bottom: 0.5rem;
}

.flip-card-back b {
  font-weight: bold;
}

button {
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
}

button:hover {
  background-color: yellow;
}

.elementos {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.sol {
  width: 10rem;
  height: 10rem;
  animation: rotarsol 5s linear infinite;
}

@keyframes rotarsol {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.luna {
  width: 5rem;
  height: 5rem;
  animation: girarluna 5s linear infinite;
}

@keyframes girarluna {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.asteroide {
  width: 6rem;
  height: 6rem;
  animation: escalar-asteroide 5s ease-in-out infinite;
}

@keyframes escalar-asteroide {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  grid-area: footer;
  background-color: #040536;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

footer h3 {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.iconos {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}

.primeros-iconos {
  display: flex;
  gap: 1rem;
}

i:hover {
  color: violet;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.email p:hover {
  color: blue;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header"
      "aside"
      "section"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  h1 {
    font-size: 2rem;
  }

  .img-header {
    width: 2rem;
    height: 2rem;
  }

  .paginas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .paginas a {
    display: none;
  }

  .section {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .icono-movil {
    display: block;
  }

  .icono-movil:hover {
    color: violet;
  }

  main {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .elementos {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .sol {
    width: 6rem;
    height: 6rem;
    margin-bottom: 3rem;
  }

  .luna {
    width: 4rem;
    height: 4rem;
    margin-bottom: 3rem;
  }

  .asteroide {
    width: 2rem;
    height: 2rem;
    margin-bottom: 3rem;
  }

  footer {
    flex-direction: column;
    gap: 0.5rem;
  }
}
